.chart-series-line {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.default-color0.chart-series-line {
    -fx-stroke: #00ff00;
}

.default-color1.chart-series-line {
    -fx-stroke: #ff0000;
}

.default-color2.chart-series-line {
    -fx-stroke: #0000ff;
}

.default-color3.chart-series-line {
    -fx-stroke: #ff0000;
}

.root {
    -fx-font: 16px "Courier New";
}
